[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mysql = "*"
mysql-connector-python = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
pep8 = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.6"
